<div class="masthead clearfix">
    <div class="inner">
        <h1 class="masthead-brand"><a class="nav-link" href="/">Liri 3.0</a></h1>
        <nav class="nav nav-masthead">
            <a href="/" class="nav-link {{#if active.home}}active{{/if}}">Home</a>
            <a href="/about" class="nav-link {{#if active.about}}active{{/if}}">About</a>
            <a href="/contact" class="nav-link {{#if active.contact}}active{{/if}}">Contact</a>                            
        </nav>
    </div>
</div>