<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                {{> navbar}}
                <div class="inner-cover">
                    <h1 class="cover-heading"></h1>
                    <div class="jumbotron my-5 text-left">
                        <div class="container">
                            <img class="float-left mr-2 hidden-sm-down" src="/harry-potter.svg" width="60" height="60" class="" alt="Logo">
                            <h1 class="display-4">Daniel <span class="hidden-sm-down">H.</span></h1>
                            <p class="lead">My name is Daniel and I am a driven mathematician turned web developer. My focus is currently
                                on front-end but I am eagerly working my way towards full-stack as a student at the UT Houston
                                Coding Bootcamp. To meet this goal I put in a minimum of 60 hours a week and do a lot of
                                peer programming with other web developers. I am confident using HTML, CSS, Bootstrap, Javascript,
                                JQuery, and Firebase. Please feel free to browse my portfolio section and send an email if
                                you’d like to get in touch.</p>
                            <hr class="my-4">
                            <p class="lead">
                                <a class="btn btn-code-inverse" href="https://dondaniel.herokuapp.com/portfolio.html" target="_blank" role="button">View Portfolio</a>
                                <a class="btn btn-code" href="https://github.com/danielhdz56" target="_blank" role="button">View Github</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{> scripts}}
</body>

</html>