<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                {{> navbar}}
                <div class="inner-cover px-32px">
                    <p class="lead">Tweets | | Search</p>
                    <form class="form-inline justify-content-center">
                        <button id="twitterBtn" type="button" class="btn btn-info bg-twitter">Twitter</button>                        
                        <div class="form-group mb-0">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" id="searchInput" placeholder="Search!">
                        </div>
                        <button id="spotifyBtn" type="button" class="btn btn-success bg-spotify">Spotify</button>
                        <button id="omdbBtn" type="button" class="btn btn-warning bg-omdb text-white">OMDB</button>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{> scripts}}
</body>
</html>